<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav ml-auto">
      <%# <a class="navbar-brand" href="#">Navbar</a>%>
      <p class="copyright">Copyright &copy Wilson 2017</p>
    </ul>
  </nav>
</footer>
