<%# update accordingly %>

<ul class="navbar navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link" href="/meals">Katsu Spots</a>
      <%# UPDATE %>
    </li>
    <% if(!locals.isAuthenticated) { %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    <% } else { %>
      <li><a href="/profile"><%= user.username %></a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/meals/new">Add a meal</a></li>
    <% } %>
</ul>
