<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="../src/images/favicon.ico" sizes="32x32" />
  <% include ./partials/_stylesheets.ejs %>
  <title>KATSUPER STORE</title>
</head>
<body>
  <header>
    <h1><a class="main-heading" href="/meals">KatSuper Store</a></h1>
  </header>
  <% include ./partials/_navbar %>
  <main class="container">
    <% for(const type in messages) { %>
      <div class="callout <%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
      <% } %>
    <%- body %>
  </main>
  <footer>
    <% include ./partials/_footer.ejs %>
  </footer>
    <% include ./partials/_scripts.ejs %>
</body>
</html>
