<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <% include ./partials/_stylesheets.ejs %>
  <title>Katsuper Store</title>
</head>
<body>
  <header class ="container">
    <% include ./partials/_navbar %>
  </header>

  <main class="container">
    <% for(const type in messages) { %>
      <div class="callout <%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
      <% } %>
    <%- body %>
  </main>

  <% include ./partials/_scripts.ejs %>
</body>
</html>
