<div class="homepage">
  <h1 class="welcome">Welcome to KatSuper Store!</h1>
  <p class="intro">The #1 resourse to find and discuss the best chicken katsu spots in London</p>

  <a href="/meals"><img src="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-2/home-image.jpg" id="opening-image"></a>

  <br>
  <%# <a href="/meals">ENTER</a>%>
</section>
