<section>
  <h1>KatSuper Store</h1>
  <p>The place to find the best chicken katsu spots in London</p>

  <img src="http://www.slimmingeats.com/blog/wp-content/uploads/2011/11/chicken-katsu-curry-recipe-3.jpg" alt="katsu-pic">

  <br>
  <a href="/meals">ENTER</a>
</section>
