<form method="POST" action="/meals">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text" name="description" id="description" required>
  </div>
  <fieldset>
    <legend>Address</legend>
    <div>
      <label for="location">Location</label>
      <input type="text" name="location" id="location" required>
    </div>
  </fieldset>
  <div>
    <label for="stars">Stars</label>
    <input type="number" name="stars" id="stars" min="1" max="5" required>
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" required>
  </div>

  <button class="button">Add Katsu Spot</button>
</form>
