<%# update accordingly %>

<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/katsu">Katsus</a>
      <%# UPDATE %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
</ul>
