$font-stack:      'Roboto', sans-serif;
$primary-color:   rgba(33, 21, 143, 0.1);
$background-img:  'https://i.pinimg.com/originals/1b/0d/53/1b0d53932f6ee65c879bffffe9fea9ba.jpg';
$nav-image:       'http://gbc-cdn-public-media.azureedge.net/img64617.1426x713.jpg';

section.homepage {
  margin: 20px 0 60px 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  // position: relative;
  background: url($nav-image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 300px;

  a.main-heading {
    line-height: 400px;
    color: #fff;
    font-weight: bold;
    margin-left: 30px;
    font-size: 4.5rem;
    min-width: 100%;
    word-wrap: normal;
    text-decoration: none;
  }
}

//STRUCTURE
nav {
  background-color: rgba(199, 134, 0, 0.2);
}

#header1 {
  height: 35px;
  border-bottom: 1px solid #6e5d54;
  border-top: 1px solid #6e5d54;
}

div.large-6.medium-12.columns {
  height: 650px;
  margin: 4px 0 4px 0;
  border-bottom: 1px solid #6e5d54;
  border-top: 1px solid #6e5d54
  color: rgba(199, 134, 0, 0.2);
}

div.heading {
  height: 100%;
  width: 45%;
}

div.meal-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 70%;
  background-position: center;
  background-size: cover;
}


footer {
  clear: both;
  padding-top: 270px;
  height: 300px;
  background-image: url('http://asiansupper.com/files/katsu-curry-recipe-1.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}


// Items
li.nav-item {
  list-style: none;
  margin: 0 25px 0 0;
  font-size: 17px;
  font-weight: 500;
}

p.star-rating {
  font-size: 30px;
  color: gold;
}

p.user {
  color: grey;
}

p.copyright {
  margin: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: right;

}

form {
  margin: 20px 0;
}

img {
  padding-top: 1%;
  background-position: center;
  background-size: cover;
}
